<div class="title_header">CURRENCY CONVERTER</div>
<div class="header">  
  <div class="usd">
    <p class="usd_title">USD</p>
      <div class="usd_buy">
        <p class="buy_item_usd">Buy:</p>
        <p class="buy_item_usd">{{ usdbuy }}</p>
      </div>

    <div class="usd_sale">
      <p class="sale_item_usd">Sell:</p>    
      <p class="sale_item_usd">{{ usdsell }}</p>
    </div>
  </div>
   
  <div class="eur">
    <p class="eur_title">EUR</p>
      <div class="eur_buy">
        <p class="buy_item_eur">Buy:</p>
        <p class="buy_item_eur">{{ eurbuy }}</p> 
      </div>

      <div class="eur_sale">  
        <p class="sale_item_eur">Sell:</p>
        <p class="sale_item_eur">{{ eursell }}</p>
      </div>
  </div>
</div> 

