<div class="footer">
	<div class="footer_currency_info">Exchange rates are updated</div>
	<div class="footer_currency_info">once every 5 minutes</div>
	<div class="footer_currency_info">due to National Bank of Ukraine rates</div>

		<div class="links">
			<a class="links_telegram" href="https://t.me/immastars"></a>
			<a class="links_instagram" href="https://www.instagram.com/imma.stars/"></a>
		</div>

	<div class="footer_text">Angular 15.0.4</div>
	<div class="footer_text">Kyiv 2022-2023</div>
	<div class="footer_text"></div>
</div>
